$font-size-base: 16;

$grey-dark: #2e3233; // grey dark
$grey-light: #e2e3df; // grey light
$green: #69aa6f; // green

$text-color-base: $grey-dark;
$text-color-light: #fff;

$body-bg-color: #fff;


// header size
$header-height-sm: 50px;
$header-height-lg: 80px;

// Navigation size
$nav-width-sm: 260px;

// Search size
$search-height-sm: 50px;
$search-height-lg: 120px;

// z-index
$below-content: 1;
$content: 2;
$above-content: 3;