nav.mega
  ul#mega__primary-mav.mega__primary-nav.mega__primary-nav_fixed
    li.mega__primary-nav-item.mega__item_has-children
      a.mega__primary-nav-link.mega__link_has-children(href="#") Clothing

      ul.mega__secondary-nav.mega__list_hidden
        li.mega__secondary-nav-item.mega__item_go-back
          a.mega__secondary-nav-link.mega__link_go-back(href="#") Menu
        li.mega__secondary-nav-item.mega__item_see-all
          a.mega__secondary-nav-link.mega__link_see-all(href="#") All Clothing
        li.mega__secondary-nav-item.mega__item_has-children
          a.mega__secondary-nav-link.mega__link_has-children(href="#") Accessories

          ul.mega__inner-list.mega__list_hidden
            li.mega__inner-list-item.mega__item_go-back
              a.mega__inner-list-link.mega__link_go-back(href="#") Clothing
            li.mega__inner-list-item.mega__item_see-all
              a.mega__inner-list-link.mega__link_see-all(href="#") All Accessories
            li.mega__inner-list-item.mega__item_has-children
              a.mega__inner-list-link.mega__link_has-children(href="#") Beanies

              ul.mega__inner-list.mega__list_hidden
                li.mega__inner-list-item.mega__item_go-back
                  a.mega__inner-list-link.mega__link_go-back(href="#") Accessories
                li.mega__inner-list-item.mega__item_see-all
                  a.mega__inner-list-link.mega__link_see-all(href="#") All Beanies
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Caps &amp; Hats
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Gifts
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Scarves &amp; Snoods
            li.mega__inner-list-item.mega__item_has-children
              a.mega__inner-list-link.mega__link_has-children(href="#") Caps &amp; Hats

              ul.mega__inner-list.mega__list_hidden
                li.mega__inner-list-item.mega__item_go-back
                  a.mega__inner-list-link.mega__link_go-back(href="#") Accessories
                li.mega__inner-list-item.mega__item_see-all
                  a.mega__inner-list-link.mega__link_see-all(href="#") All Caps &amp; Hats
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Beanies
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Caps
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Hats
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Glasses
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Gloves
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Jewellery
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Scarves
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Wallets
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Watches
        li.mega__secondary-nav-item.mega__item_has-children
          a.mega__secondary-nav-link.mega__link_has-children(href="#") Bottoms

          ul.mega__inner-list.mega__list_hidden
            li.mega__inner-list-item.mega__item_go-back
              a.mega__inner-list-link.mega__link_go-back(href="#") Clothing
            li.mega__inner-list-item.mega__item_see-all
              a.mega__inner-list-link.mega__link_see-all(href="#") All Bottoms
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Casual Trousers
            li.mega__inner-list-item.mega__item_has-children
              a.mega__inner-list-link.mega__link_has-children(href="#") Jeans

              ul.mega__inner-list.mega__list_hidden
                li.mega__inner-list-item.mega__item_go-back
                  a.mega__inner-list-link.mega__link_go-back(href="#") Bottoms
                li.mega__inner-list-item.mega__item_see-all
                  a.mega__inner-list-link.mega__link_see-all(href="#") All Jeans
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Ripped
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Skinny
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Slim
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Straight
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Leggins
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Shorts
        li.mega__secondary-nav-item.mega__item_has-children
          a.mega__secondary-nav-link.mega__link_has-children(href="#") Jackets

          ul.mega__inner-list.mega__list_hidden
            li.mega__inner-list-item.mega__item_go-back
              a.mega__inner-list-link.mega__link_go-back(href="#") Clothing
            li.mega__inner-list-item.mega__item_see-all
              a.mega__inner-list-link.mega__link_see-all(href="#") All Jackets
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Blazers
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Bomber jackets
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Denim Jackets
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Duffle Coats
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Leather Jackets
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Parkas
        li.mega__secondary-nav-item.mega__item_has-children
          a.mega__secondary-nav-link.mega__link_has-children(href="#") Tops

          ul.mega__inner-list.mega__list_hidden
            li.mega__inner-list-item.mega__item_go-back
              a.mega__inner-list-link.mega__item_go-back(href="#") Clothing
            li.mega__inner-list-item.mega__item_see-all
              a.mega__inner-list-link.mega__item_see-all(href="#") All Tops
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Cardigans
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Coats
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Hodies &amp; Sweatshirts
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Jumpers
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Polo Shirts
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Shirts
            li.mega__inner-list-item.mega__item_has-children
              a.mega__inner-list-link.mega__link_has-children(href="#") T-Shirts

              ul.mega__inner-list.mega__list_hidden
                li.mega__inner-list-item.mega__item_go-back
                  a.mega__inner-list-link.mega__link_go-back(href="#") Tops
                li.mega__inner-list-item.mega__item_see-all
                  a.mega__inner-list-link.mega__link_see-all(href="#") All T-Shirts
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Plain
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Print
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Striped
                li.mega__inner-list-item
                  a.mega__inner-list-link(href="#") Long sleeved
            li.mega__inner-list-item
              a.mega__inner-list-link(href="#") Vests
    li.mega__primary-nav-item.mega__item_has-children
      a.mega__primary-nav-link.mega__link_has-children(href="#") Gallery
    li.mega__primary-nav-item.mega__item_has-children
      a.mega__primary-nav-link.mega__link_has-children(href="#") Services
    li.mega__primary-nav-item
      a.mega__primary-nav-link(href="#") Standard