header.page-header
  a.logo(href="#")
    img.logo__img(src="assets/img/logo.svg")
  ul.header__controls
    li.header__controls-item
      a.search-trigger(href="#search") Search
      span.search-trigger__icon
    li.header__controls-item
      a.nav-trigger(href="#primary-nav") Menu
      span.nav-trigger__icon