header.page-header
  a.logo(href="#")
    img.logo__img(src="assets/img/logo.svg")
  ul.page-header__controls
    li.header__controls-item
      a.search-trigger.loupe(href="#search") Search
        span.loupe__item
    li.header__controls-item
      a.nav-trigger.hamburger(href="#primary-nav") Menu
        span.hamburger__item