extend ../_template-en

block title
  |


block content
  include ../blocks/page-header
  include ../blocks/overlay
  include ../blocks/search
  include ../blocks/mega-menu

block script
  script(src="assets/js/app.js")