extend ../_template-en

block title
  | MegaMenu


block content
  include ../blocks/page-header
  .main-content
  include ../blocks/mega-menu
  include ../blocks/overlay
  include ../blocks/search

block script
  script(src="assets/js/app.js")